<!DOCTYPE html>
<html>
<head>
  <title>WineApplication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <title>Alcoholfreewine</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <style type="text/css">
            body {
  padding-top: 50px;
}

footer{
    position: fixed;
    bottom: 0;
}

@media (max-height:800px){
    footer { position: static; }
    header { padding-top:40px; }
}

.footer-basic-centered{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;

    padding: 45px;
    margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
    color:  #8d9093;
    font-size: 24px;
    margin: 0;
}

.footer-basic-centered .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer-basic-centered .footer-links{
    list-style: none;
    font-weight: bold;
    color:  #ffffff;
    padding: 35px 0 23px;
    margin: 0;
}

.footer-basic-centered .footer-links a{
    display:inline-block;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 600px) {

    .footer-basic-centered{
        padding: 35px;
    }

    .footer-basic-centered .footer-company-motto{
        font-size: 18px;
    }

    .footer-basic-centered .footer-company-name{
        font-size: 12px;
    }

    .footer-basic-centered .footer-links{
        font-size: 14px;
        padding: 25px 0 20px;
    }

    .footer-basic-centered .footer-links a{
        line-height: 1.8;
    }
}

        </style>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Alcoholfreewine</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<%= yield %>

<footer class="footer-basic-centered">
    <p class="footer-company-motto">"Wine That Doesn't Taste Very Good And Doesn't Get You Drunk"</p>
    <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Contact</a>
    </p>
    <p class="footer-company-name">Alcoholfreewine &copy; 2015</p>
</footer>

</body>
</html>
